.App {
  text-align: center;
  background-image: url('https://cdn.imgbin.com/6/0/22/imgbin-musical-note-background-music-illustration-creative-color-music-keyboard-piano-tiles-art-ZJgtF2ZmgUPKb3ZCHXLzPYnhP.jpg')
}
.new-form {
  background-color: rgb(94, 16, 16);
}







